article {
  display: inherit;
  flex-direction: column;
  border: solid 2px;
  margin-top: 50px;
  width: 700px;
  padding: 10px;
}

article:hover {
  box-shadow: 5px 5px 5px grey;
}

article > p {
  margin: 25px 15px;
  font-size: 22px;
}

#tweetheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: auto;
  background-color: inherit;
  background-image: none;
  margin: 5px;
  font-size: 18px;
}

header > div {
  display: flex;
  font-size: 20px;
}

header > p {
  margin-right: 30px;
  color: lightgrey;
  align-self: start;
}

.tweet-icons {
  display: inherit;
  color: #4056A1;
  align-self: center;
}

.tweet-icons i {
  margin: 0px 5px;
}

.tweet-icons :hover {
  color: goldenrod;
}
#tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  margin: 0px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top-color: black;
  border-top: solid 2px;
}


#otherAvatar {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
